#!/usr/bin/env zsh

# === Global ===

alias ls='ls -a'
alias \.\.='cd ..'

alias lcl='cd ~/Local\ sites/'
alias dsk='cd ~/Desktop/'
alias dl='cd ~/Downloads/'
alias df='cd ~/.dotfiles/'
alias cdlf='lfcd'


alias code='code .'
alias open='open .'
alias nano='sudo nano'

alias re='clear; exec zsh -l'
alias hosts='sudo nano /etc/hosts'
alias fdns='sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder'
alias dnsf='fdns'

# === Git ===

alias lg='lazygit'
alias gp='git pull'

# === Composer ===

alias cin='composer install'
alias cup='composer upgrade'
alias crm='composer remove'
alias cre='composer require'