# === Global ===

alias ls="gls --group-directories-first --color=auto -ah1"
alias \.\.="cd .."

alias lcl="cd ~/sites-localwp/"
alias dsk="cd ~/Desktop/"
alias dl="cd ~/Downloads/"
alias df="cd ~/.dotfiles/"
alias cdlf="lfcd"

alias code="code ."
alias open="open ."
alias nano="sudo nano"

alias re="clear; exec zsh -l"
alias fdns="sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder"
alias dnsf="fdns"

alias set_alias="nano ~/.dotfiles/zsh/.zsh/.aliases"
alias set_hosts="nano /etc/hosts"
alias set_sshhosts="nano ~/.ssh/config"
alias get_sshhosts="grep -E '^Host' ~/.ssh/config | awk '{print $2}'"
alias get_sshkey="pbcopy <~/.ssh/id_ed25519.pub && echo 'Copied id_ed25519.pub to clipboard'"
alias get_myip="dig +short myip.opendns.com @resolver1.opendns.com | pbcopy && echo 'Copied IP to clipboard'"

# === Git ===

alias lg="lazygit"
alias gp="git pull"
alias gf="git fetch"
alias gcom="git fetch origin && git checkout origin $(git ls-remote --exit-code --heads origin master && echo master || echo main)"
alias gcod="git fetch origin && git checkout origin develop"
alias gpm="git fetch origin && git pull origin $(git ls-remote --exit-code --heads origin master && echo master || echo main)"
alias gpd="git fetch origin && git pull origin develop"
alias gcp="git cherry-pick"

# === Composer ===

alias cin="composer install"
alias crs="composer run-script"
alias ct="composer run-script test"
alias cup="composer upgrade"
alias crm="composer remove"
alias cre="composer require"
alias cgre="composer global require"
alias cda="composer dump-autoload"

# === Laravel ===

alias pa="php artisan"
alias pam="php artisan migrate"
alias pamr="php artisan migrate:rollback"
alias par="php artisan migrate:refresh"
alias pas="php artisan serve"

# === NPM/Yarn ===

alias nrd="npm run dev"
alias y="yarn"
alias yb="yarn build"
alias yd="yarn dev"
alias yup="yarn upgrade"
alias yin="yarn install"
